@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

svg {
  overflow: visible;
  display: block;
  width: 100%;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #171e24;
    font-family: 'Open Sans', sans-serif;
}
canvas {
    display: block;
    position: relative;
}

button {
  background-color:#29597e;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  text-align: "center";
  justify-content: "center";
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight:normal;
  margin: 3px;
}

.controlsTitle {
  color: white;
  font-size: 12px;
  margin: 3px;
}

form {
  background-color:#29597e;
  border: none;
  color: white;
  padding: 1.7vh;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight:normal;
  margin: 3px;
}

.input_field {
  background-color:#29597e;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight:normal;
  padding: 1.3vh;
  margin: 3px;
  height: 100%;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;

  color: white;
  margin: 10px 30px 5px;

}

p, a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: white;
  margin: 10px
}

.controls {
  display: inline-flex;
  background-color: #171e24;
  align-items:center;
  margin: 5px 30px 5px;
  padding: 0px;
}

.controlsParent {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#sketchHolder {
  margin: 0 auto;
  position: relative;
}
  

.slidecontainer {
  width: 150px;
}

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color:#7e2929;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color:#7e2929;
  cursor: pointer;
}